<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Nueva Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nueva Tarea</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Título" label-placement="floating" [(ngModel)]="newTask.title" placeholder="¿Qué necesitas hacer?"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Descripción" label-placement="floating" [(ngModel)]="newTask.description" placeholder="Añade más detalles..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-select label="Categoría" [(ngModel)]="newTask.category" placeholder="Elige una categoría">
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
        <ion-select-option value="estudios">Estudios</ion-select-option>
        <ion-select-option value="hogar">Hogar</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Prioridad" [(ngModel)]="newTask.priority" placeholder="Selecciona la prioridad">
        <ion-select-option value="baja">Baja</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
        <ion-select-option value="alta">Alta</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="addTask()" class="ion-margin-top">
    <ion-icon name="add" slot="start"></ion-icon>
    Añadir Tarea
  </ion-button>

</ion-content>