<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-input label="Título" label-placement="floating" [(ngModel)]="newTask.title" placeholder="¿Qué necesitas hacer?"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Descripción" label-placement="floating" [(ngModel)]="newTask.description" placeholder="Añade más detalles..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-select label="Categoría" [(ngModel)]="newTask.category" placeholder="Elige una categoría">
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
        <ion-select-option value="estudios">Estudios</ion-select-option>
        <ion-select-option value="hogar">Hogar</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Prioridad" [(ngModel)]="newTask.priority" placeholder="Selecciona la prioridad">
        <ion-select-option value="baja">Baja</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
        <ion-select-option value="alta">Alta</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="addTask()" class="ion-margin-top">
    <ion-icon name="add" slot="start"></ion-icon>
    Añadir Tarea
  </ion-button>


  <ion-list class="ion-margin-top">
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-checkbox [checked]="task.completed === 1" (ionChange)="toggleTask(task)" slot="start"></ion-checkbox>
        <ion-label>
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <p>
            <ion-chip [color]="getPriorityColor(task.priority)">{{ task.priority }}</ion-chip>
            <ion-chip>{{ task.category }}</ion-chip>
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTask(task)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTask(task.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>