<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Créditos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Créditos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-text-center">
    <img src="assets/img/logo.png" alt="Logo de la Institución" class="logo-image" />

    <ion-card-header>
      <ion-card-title>ToDo App v1.0</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        <strong>DESARROLLADO POR</strong>
      </p>
      <p>
        Ignacio Williams
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>